<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div style="font-size: 40px; text-align: center;
     text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); margin-top: 3%;">
        <a style="color: black; text-decoration: none;" href="\index">Blog Post</a></div>
<div class="login-form">
  
  <form action="/login" method="POST">
    {% csrf_token %}

    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" placeholder="Username" name="username" id="username" required>
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" name="password" id="password" required>
      </div>
    </div>
    <div class="action">
      <button type="submit" value="submit">Sign in</button>
    </div>
  </form>
</div>
<!-- partial -->
  <script  src="https://blogcpp.s3.amazonaws.com/static/script.js"></script>

</body>
</html>
